<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve User</title>
  <style>
    .main{
      width: 96vw;
      position: absolute;
      margin:9.4vw 0vw 0vw 3.5vw;
      color: white;
      text-shadow: 1px 1px 1px black;

      table{
        width: 93%;
        background-color: rgba(0, 0, 0, 0.8);
        border-collapse: collapse;
        border-spacing: 0;
        text-algn: center;
        border:1px solid white;
        
        th{
          width:fit-content;
          font-size: 1.3vw;
          text-align: center;
          border-bottom:.5px solid White;
        }
        td{
          font-size: 1.1vw;
          text-align: center;
          padding: 1vw 0vw;
        }
      }
  }
  
</style>

</head>
<body>

    {{>Admin1}}

          <div class="main">

    
            <table>
              <tr>
                <th>Student Reg-No</th>
                <th>Book Name</th>
                <th>ISBN</th>   
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Fine for Late</th>
                <th>Days Late</th>
                </tr>
                {{#each allocatedBooks}}
                <tr>
                    <td>{{this.RegistrationNo}}</td>
                  <td id="h">{{this.Bookname}}</td>
                  <td>{{this.ISBN}}</td>
                  <td>{{this.IssueDate}}</td>
                  <td>{{this.ReturnDate}}</td>
                  <td>{{this.FineForLate}}</td>
                  <td>{{this.lateDays}}</td>
                  <button class="btn" 
                </tr>
                {{/each}}
            </table>
          </div>
</body>
</html>