<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Display User Data</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.bootstrap5.css">
  <style>
    .Books{
      font-size: 3vw;
      font-family: 'Poppins', sans-serif;
      margin: 0vw 0vw 2vw 1vw;
    }
    .main{
      width: 96vw;
      position: absolute;
      margin:3vw 0vw 0vw 1.5vw;
      table{
        border:1px solid black;
        text-align: left;
        td,th{
          font-size: 1vw;
          border: 1px solid black;
        }
        th:hover{
          cursor: pointer;
        }
      }
      img{
          width: 5vw;
          height: 5vw;
        }

     
  }
        
  #download{
    background-color:rgb(84, 117, 215);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
    </style>
</head>
<body>

{{>Admin1}}



<div class="main">

    
            <table id="example" class="table table-striped">
              <thead>
              <tr>
                <th>Book Name</th>
                <th>Image</th>
                <th style="text-align: left;">ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>PDF</th>
                </tr>
              </thead>
              <h1 class="Books">All Books</h1>
                {{#each books}}
                <tr>
                  
                  <td style=" padding-top:1.7vw;">{{this.Bookname}}</td>
                  <td>{{#if image}}
        <img id="img" src="{{this.image}}" />
      {{else}}
        <p style=" padding-top:1.7vw;">No image available</p>
      {{/if}}</td>
                  <td style="text-align: left; padding-top:1.7vw;">{{this.ISBN}}</td>
                  <td style=" padding-top:1.7vw;">{{this.Author}}</td>
                  <td style=" padding-top:1.7vw;">{{this.Publisher}}</td>
                  <td style=" padding-top:1vw;">{{#if this.pdf}}
        <a href="{{this.pdf}}" download="{{this.Bookname}}.pdf" id="download">Download PDF</a>
        {{else}}
        <p style=" padding-top:1.2vw;">No PDF available</p>
      {{/if}}</td>
                </tr>
                
                {{/each}}
            </table>
          </div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.1/js/dataTables.bootstrap5.js"></script>
    
<script>new DataTable('#example');</script>
</body>
</html>
